@charset"utf-8";
* {
    margin: 0;
    padding: 0;

}

.trow {
    width: 100%;
    margin-bottom: 10px;

}

.trow span {
    font-weight: bold;
}

.trow .dropdown,
row {
    width: 100%;
}

.trow .dropdown.show {
    display: block;
}

.trow .dropdown.hide {
    display: none;
}

.user_counts {
    visibility: hidden;
}
